 <!-- 2nd Form Start -->
 <div class="card">
    <!-- card header start -->
    <div class="card-header">
      <h5 class="card-title">Academic Qualification</h5>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-widget="remove">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
    <!-- card-header end -->
      <!-- card-header end -->
      <div class="card-body nopadding">
          <div class="row">
              <div class="col-md-9">
                    <fieldset>
                            <legend>
                                <h6>Academic Qualification</h6>
                            </legend>
                            <app-academic-qualification></app-academic-qualification>
                    </fieldset>
                  <fieldset>
                      <legend>
                          <h6>Professional Qualification</h6>
                      </legend>
                      <app-professional-qualification></app-professional-qualification>
                  </fieldset>
                  <fieldset>
                      <legend>
                          <h6>Professional Membership</h6>
                      </legend>
                      <app-professional-menber-ships></app-professional-menber-ships>
                  </fieldset>
                  
              </div>
          </div>
          </div>
          <div class="card-footer">
          </div>
      </div>
 